aiohttp-retry==2.8.3 ; python_full_version >= "3.9.13" and python_full_version < "4.0.0"
aiohttp==3.8.4 ; python_full_version >= "3.9.13" and python_full_version < "4.0.0"
aiosignal==1.3.1 ; python_full_version >= "3.9.13" and python_full_version < "4.0.0"
amqp==5.1.1 ; python_full_version >= "3.9.13" and python_full_version < "4.0.0"
antlr4-python3-runtime==4.9.3 ; python_full_version >= "3.9.13" and python_full_version < "4.0.0"
appdirs==1.4.4 ; python_full_version >= "3.9.13" and python_full_version < "4.0.0"
async-timeout==4.0.2 ; python_full_version >= "3.9.13" and python_full_version < "4.0.0"
asyncssh==2.13.1 ; python_full_version >= "3.9.13" and python_full_version < "4.0.0"
atpublic==3.1.1 ; python_full_version >= "3.9.13" and python_full_version < "4.0.0"
attrs==22.2.0 ; python_full_version >= "3.9.13" and python_full_version < "4.0.0"
billiard==3.6.4.0 ; python_full_version >= "3.9.13" and python_full_version < "4.0.0"
celery==5.2.7 ; python_full_version >= "3.9.13" and python_full_version < "4.0.0"
certifi==2022.12.7 ; python_full_version >= "3.9.13" and python_version < "4"
cffi==1.15.1 ; python_full_version >= "3.9.13" and python_full_version < "4.0.0"
charset-normalizer==3.1.0 ; python_full_version >= "3.9.13" and python_version < "4"
click-didyoumean==0.3.0 ; python_full_version >= "3.9.13" and python_full_version < "4.0.0"
click-plugins==1.1.1 ; python_full_version >= "3.9.13" and python_full_version < "4.0.0"
click-repl==0.2.0 ; python_full_version >= "3.9.13" and python_full_version < "4.0.0"
click==8.1.3 ; python_full_version >= "3.9.13" and python_full_version < "4.0.0"
colorama==0.4.6 ; python_full_version >= "3.9.13" and python_full_version < "4.0.0"
configobj==5.0.8 ; python_full_version >= "3.9.13" and python_full_version < "4.0.0"
cryptography==40.0.1 ; python_full_version >= "3.9.13" and python_full_version < "4.0.0"
dictdiffer==0.9.0 ; python_full_version >= "3.9.13" and python_full_version < "4.0.0"
diskcache==5.4.0 ; python_full_version >= "3.9.13" and python_full_version < "4.0.0"
distro==1.8.0 ; python_full_version >= "3.9.13" and python_full_version < "4.0.0"
dpath==2.1.5 ; python_full_version >= "3.9.13" and python_full_version < "4.0.0"
dulwich==0.21.3 ; python_full_version >= "3.9.13" and python_full_version < "4.0.0"
dvc-data==0.44.1 ; python_full_version >= "3.9.13" and python_full_version < "4.0.0"
dvc-http==2.30.2 ; python_full_version >= "3.9.13" and python_full_version < "4.0.0"
dvc-objects==0.21.1 ; python_full_version >= "3.9.13" and python_full_version < "4.0.0"
dvc-render==0.3.1 ; python_full_version >= "3.9.13" and python_full_version < "4.0.0"
dvc-studio-client==0.6.1 ; python_full_version >= "3.9.13" and python_full_version < "4.0.0"
dvc-task==0.2.0 ; python_full_version >= "3.9.13" and python_full_version < "4.0.0"
dvc==2.51.0 ; python_full_version >= "3.9.13" and python_full_version < "4.0.0"
filelock==3.10.7 ; python_full_version >= "3.9.13" and python_full_version < "4.0.0"
flatten-dict==0.4.2 ; python_full_version >= "3.9.13" and python_full_version < "4.0.0"
flufl-lock==7.1.1 ; python_full_version >= "3.9.13" and python_full_version < "4.0.0"
frozenlist==1.3.3 ; python_full_version >= "3.9.13" and python_full_version < "4.0.0"
fsspec==2023.3.0 ; python_full_version >= "3.9.13" and python_full_version < "4.0.0"
fsspec[http]==2023.3.0 ; python_full_version >= "3.9.13" and python_full_version < "4.0.0"
funcy==2.0 ; python_full_version >= "3.9.13" and python_full_version < "4.0.0"
gitdb==4.0.10 ; python_full_version >= "3.9.13" and python_full_version < "4.0.0"
gitpython==3.1.31 ; python_full_version >= "3.9.13" and python_full_version < "4.0.0"
grandalf==0.8 ; python_full_version >= "3.9.13" and python_full_version < "4.0.0"
hydra-core==1.3.2 ; python_full_version >= "3.9.13" and python_full_version < "4.0.0"
idna==3.4 ; python_full_version >= "3.9.13" and python_version < "4"
iterative-telemetry==0.0.8 ; python_full_version >= "3.9.13" and python_full_version < "4.0.0"
kaggle==1.5.13 ; python_full_version >= "3.9.13" and python_full_version < "4.0.0"
kombu==5.2.4 ; python_full_version >= "3.9.13" and python_full_version < "4.0.0"
markdown-it-py==2.2.0 ; python_full_version >= "3.9.13" and python_full_version < "4.0.0"
mdurl==0.1.2 ; python_full_version >= "3.9.13" and python_full_version < "4.0.0"
multidict==6.0.4 ; python_full_version >= "3.9.13" and python_full_version < "4.0.0"
nanotime==0.5.2 ; python_full_version >= "3.9.13" and python_full_version < "4.0.0"
networkx==3.0 ; python_full_version >= "3.9.13" and python_full_version < "4.0.0"
omegaconf==2.3.0 ; python_full_version >= "3.9.13" and python_full_version < "4.0.0"
orjson==3.8.9 ; python_full_version >= "3.9.13" and python_full_version < "4.0.0" and implementation_name == "cpython"
packaging==23.0 ; python_full_version >= "3.9.13" and python_full_version < "4.0.0"
pathspec==0.11.1 ; python_full_version >= "3.9.13" and python_full_version < "4.0.0"
platformdirs==3.2.0 ; python_full_version >= "3.9.13" and python_full_version < "4.0.0"
prompt-toolkit==3.0.38 ; python_full_version >= "3.9.13" and python_full_version < "4.0.0"
psutil==5.9.4 ; python_full_version >= "3.9.13" and python_full_version < "4.0.0"
pycparser==2.21 ; python_full_version >= "3.9.13" and python_full_version < "4.0.0"
pydot==1.4.2 ; python_full_version >= "3.9.13" and python_full_version < "4.0.0"
pygit2==1.11.1 ; python_full_version >= "3.9.13" and python_full_version < "4.0.0"
pygments==2.14.0 ; python_full_version >= "3.9.13" and python_full_version < "4.0.0"
pygtrie==2.5.0 ; python_full_version >= "3.9.13" and python_full_version < "4.0.0"
pyparsing==3.0.9 ; python_full_version >= "3.9.13" and python_full_version < "4.0.0"
python-dateutil==2.8.2 ; python_full_version >= "3.9.13" and python_full_version < "4.0.0"
python-slugify==8.0.1 ; python_full_version >= "3.9.13" and python_full_version < "4.0.0"
pytz==2023.3 ; python_full_version >= "3.9.13" and python_full_version < "4.0.0"
pywin32==306 ; python_full_version >= "3.9.13" and python_full_version < "4.0.0" and sys_platform == "win32"
pyyaml==6.0 ; python_full_version >= "3.9.13" and python_full_version < "4.0.0"
requests==2.28.2 ; python_full_version >= "3.9.13" and python_version < "4"
rich==13.3.3 ; python_full_version >= "3.9.13" and python_full_version < "4.0.0"
ruamel-yaml-clib==0.2.7 ; platform_python_implementation == "CPython" and python_version < "3.11" and python_full_version >= "3.9.13"
ruamel-yaml==0.17.21 ; python_full_version >= "3.9.13" and python_full_version < "4.0.0"
scmrepo==0.1.17 ; python_full_version >= "3.9.13" and python_full_version < "4.0.0"
setuptools==67.6.1 ; python_full_version >= "3.9.13" and python_full_version < "4.0.0"
shortuuid==1.0.11 ; python_full_version >= "3.9.13" and python_full_version < "4.0.0"
shtab==1.5.8 ; python_full_version >= "3.9.13" and python_full_version < "4.0.0"
six==1.16.0 ; python_full_version >= "3.9.13" and python_full_version < "4.0.0"
smmap==5.0.0 ; python_full_version >= "3.9.13" and python_full_version < "4.0.0"
sqltrie==0.3.0 ; python_full_version >= "3.9.13" and python_full_version < "4.0.0"
tabulate==0.9.0 ; python_full_version >= "3.9.13" and python_full_version < "4.0.0"
text-unidecode==1.3 ; python_full_version >= "3.9.13" and python_full_version < "4.0.0"
tomlkit==0.11.7 ; python_full_version >= "3.9.13" and python_full_version < "4.0.0"
tqdm==4.65.0 ; python_full_version >= "3.9.13" and python_full_version < "4.0.0"
typing-extensions==4.5.0 ; python_full_version >= "3.9.13" and python_full_version < "4.0.0"
urllib3==1.26.15 ; python_full_version >= "3.9.13" and python_version < "4"
vine==5.0.0 ; python_full_version >= "3.9.13" and python_full_version < "4.0.0"
voluptuous==0.13.1 ; python_full_version >= "3.9.13" and python_full_version < "4.0.0"
wcwidth==0.2.6 ; python_full_version >= "3.9.13" and python_full_version < "4.0.0"
yarl==1.8.2 ; python_full_version >= "3.9.13" and python_full_version < "4.0.0"
zc-lockfile==3.0.post1 ; python_full_version >= "3.9.13" and python_full_version < "4.0.0"
aiohttp-retry==2.8.3 ; python_full_version >= "3.9.13" and python_full_version < "4.0.0"
aiohttp==3.8.4 ; python_full_version >= "3.9.13" and python_full_version < "4.0.0"
aiosignal==1.3.1 ; python_full_version >= "3.9.13" and python_full_version < "4.0.0"
amqp==5.1.1 ; python_full_version >= "3.9.13" and python_full_version < "4.0.0"
antlr4-python3-runtime==4.9.3 ; python_full_version >= "3.9.13" and python_full_version < "4.0.0"
appdirs==1.4.4 ; python_full_version >= "3.9.13" and python_full_version < "4.0.0"
async-timeout==4.0.2 ; python_full_version >= "3.9.13" and python_full_version < "4.0.0"
asyncssh==2.13.1 ; python_full_version >= "3.9.13" and python_full_version < "4.0.0"
atpublic==3.1.1 ; python_full_version >= "3.9.13" and python_full_version < "4.0.0"
attrs==22.2.0 ; python_full_version >= "3.9.13" and python_full_version < "4.0.0"
billiard==3.6.4.0 ; python_full_version >= "3.9.13" and python_full_version < "4.0.0"
celery==5.2.7 ; python_full_version >= "3.9.13" and python_full_version < "4.0.0"
certifi==2022.12.7 ; python_full_version >= "3.9.13" and python_version < "4"
cffi==1.15.1 ; python_full_version >= "3.9.13" and python_full_version < "4.0.0"
charset-normalizer==3.1.0 ; python_full_version >= "3.9.13" and python_version < "4"
click-didyoumean==0.3.0 ; python_full_version >= "3.9.13" and python_full_version < "4.0.0"
click-plugins==1.1.1 ; python_full_version >= "3.9.13" and python_full_version < "4.0.0"
click-repl==0.2.0 ; python_full_version >= "3.9.13" and python_full_version < "4.0.0"
click==8.1.3 ; python_full_version >= "3.9.13" and python_full_version < "4.0.0"
colorama==0.4.6 ; python_full_version >= "3.9.13" and python_full_version < "4.0.0"
configobj==5.0.8 ; python_full_version >= "3.9.13" and python_full_version < "4.0.0"
cryptography==40.0.1 ; python_full_version >= "3.9.13" and python_full_version < "4.0.0"
dictdiffer==0.9.0 ; python_full_version >= "3.9.13" and python_full_version < "4.0.0"
diskcache==5.4.0 ; python_full_version >= "3.9.13" and python_full_version < "4.0.0"
distro==1.8.0 ; python_full_version >= "3.9.13" and python_full_version < "4.0.0"
dpath==2.1.5 ; python_full_version >= "3.9.13" and python_full_version < "4.0.0"
dulwich==0.21.3 ; python_full_version >= "3.9.13" and python_full_version < "4.0.0"
dvc-data==0.44.1 ; python_full_version >= "3.9.13" and python_full_version < "4.0.0"
dvc-http==2.30.2 ; python_full_version >= "3.9.13" and python_full_version < "4.0.0"
dvc-objects==0.21.1 ; python_full_version >= "3.9.13" and python_full_version < "4.0.0"
dvc-render==0.3.1 ; python_full_version >= "3.9.13" and python_full_version < "4.0.0"
dvc-studio-client==0.6.1 ; python_full_version >= "3.9.13" and python_full_version < "4.0.0"
dvc-task==0.2.0 ; python_full_version >= "3.9.13" and python_full_version < "4.0.0"
dvc==2.51.0 ; python_full_version >= "3.9.13" and python_full_version < "4.0.0"
filelock==3.10.7 ; python_full_version >= "3.9.13" and python_full_version < "4.0.0"
flatten-dict==0.4.2 ; python_full_version >= "3.9.13" and python_full_version < "4.0.0"
flufl-lock==7.1.1 ; python_full_version >= "3.9.13" and python_full_version < "4.0.0"
frozenlist==1.3.3 ; python_full_version >= "3.9.13" and python_full_version < "4.0.0"
fsspec==2023.3.0 ; python_full_version >= "3.9.13" and python_full_version < "4.0.0"
fsspec[http]==2023.3.0 ; python_full_version >= "3.9.13" and python_full_version < "4.0.0"
funcy==2.0 ; python_full_version >= "3.9.13" and python_full_version < "4.0.0"
gitdb==4.0.10 ; python_full_version >= "3.9.13" and python_full_version < "4.0.0"
gitpython==3.1.31 ; python_full_version >= "3.9.13" and python_full_version < "4.0.0"
grandalf==0.8 ; python_full_version >= "3.9.13" and python_full_version < "4.0.0"
hydra-core==1.3.2 ; python_full_version >= "3.9.13" and python_full_version < "4.0.0"
idna==3.4 ; python_full_version >= "3.9.13" and python_version < "4"
iterative-telemetry==0.0.8 ; python_full_version >= "3.9.13" and python_full_version < "4.0.0"
joblib==1.2.0 ; python_full_version >= "3.9.13" and python_full_version < "4.0.0"
kombu==5.2.4 ; python_full_version >= "3.9.13" and python_full_version < "4.0.0"
markdown-it-py==2.2.0 ; python_full_version >= "3.9.13" and python_full_version < "4.0.0"
mdurl==0.1.2 ; python_full_version >= "3.9.13" and python_full_version < "4.0.0"
multidict==6.0.4 ; python_full_version >= "3.9.13" and python_full_version < "4.0.0"
nanotime==0.5.2 ; python_full_version >= "3.9.13" and python_full_version < "4.0.0"
networkx==3.0 ; python_full_version >= "3.9.13" and python_full_version < "4.0.0"
numpy==1.24.2 ; python_full_version >= "3.9.13" and python_full_version < "4.0.0"
omegaconf==2.3.0 ; python_full_version >= "3.9.13" and python_full_version < "4.0.0"
orjson==3.8.9 ; python_full_version >= "3.9.13" and python_full_version < "4.0.0" and implementation_name == "cpython"
packaging==23.0 ; python_full_version >= "3.9.13" and python_full_version < "4.0.0"
pandas==1.5.3 ; python_full_version >= "3.9.13" and python_full_version < "4.0.0"
pathspec==0.11.1 ; python_full_version >= "3.9.13" and python_full_version < "4.0.0"
platformdirs==3.2.0 ; python_full_version >= "3.9.13" and python_full_version < "4.0.0"
prompt-toolkit==3.0.38 ; python_full_version >= "3.9.13" and python_full_version < "4.0.0"
psutil==5.9.4 ; python_full_version >= "3.9.13" and python_full_version < "4.0.0"
pycparser==2.21 ; python_full_version >= "3.9.13" and python_full_version < "4.0.0"
pydot==1.4.2 ; python_full_version >= "3.9.13" and python_full_version < "4.0.0"
pygit2==1.11.1 ; python_full_version >= "3.9.13" and python_full_version < "4.0.0"
pygments==2.14.0 ; python_full_version >= "3.9.13" and python_full_version < "4.0.0"
pygtrie==2.5.0 ; python_full_version >= "3.9.13" and python_full_version < "4.0.0"
pyparsing==3.0.9 ; python_full_version >= "3.9.13" and python_full_version < "4.0.0"
python-dateutil==2.8.2 ; python_full_version >= "3.9.13" and python_full_version < "4.0.0"
pytz==2023.3 ; python_full_version >= "3.9.13" and python_full_version < "4.0.0"
pywin32==306 ; python_full_version >= "3.9.13" and python_full_version < "4.0.0" and sys_platform == "win32"
pyyaml==6.0 ; python_full_version >= "3.9.13" and python_full_version < "4.0.0"
requests==2.28.2 ; python_full_version >= "3.9.13" and python_version < "4"
rich==13.3.3 ; python_full_version >= "3.9.13" and python_full_version < "4.0.0"
ruamel-yaml-clib==0.2.7 ; platform_python_implementation == "CPython" and python_version < "3.11" and python_full_version >= "3.9.13"
ruamel-yaml==0.17.21 ; python_full_version >= "3.9.13" and python_full_version < "4.0.0"
scikit-learn==1.2.2 ; python_full_version >= "3.9.13" and python_full_version < "4.0.0"
scipy==1.9.3 ; python_full_version >= "3.9.13" and python_full_version < "4.0.0"
scmrepo==0.1.17 ; python_full_version >= "3.9.13" and python_full_version < "4.0.0"
setuptools==67.6.1 ; python_full_version >= "3.9.13" and python_full_version < "4.0.0"
shortuuid==1.0.11 ; python_full_version >= "3.9.13" and python_full_version < "4.0.0"
shtab==1.5.8 ; python_full_version >= "3.9.13" and python_full_version < "4.0.0"
six==1.16.0 ; python_full_version >= "3.9.13" and python_full_version < "4.0.0"
smmap==5.0.0 ; python_full_version >= "3.9.13" and python_full_version < "4.0.0"
sqltrie==0.3.0 ; python_full_version >= "3.9.13" and python_full_version < "4.0.0"
tabulate==0.9.0 ; python_full_version >= "3.9.13" and python_full_version < "4.0.0"
threadpoolctl==3.1.0 ; python_full_version >= "3.9.13" and python_full_version < "4.0.0"
tomlkit==0.11.7 ; python_full_version >= "3.9.13" and python_full_version < "4.0.0"
tqdm==4.65.0 ; python_full_version >= "3.9.13" and python_full_version < "4.0.0"
typing-extensions==4.5.0 ; python_full_version >= "3.9.13" and python_full_version < "4.0.0"
urllib3==1.26.15 ; python_full_version >= "3.9.13" and python_version < "4"
vine==5.0.0 ; python_full_version >= "3.9.13" and python_full_version < "4.0.0"
voluptuous==0.13.1 ; python_full_version >= "3.9.13" and python_full_version < "4.0.0"
wcwidth==0.2.6 ; python_full_version >= "3.9.13" and python_full_version < "4.0.0"
yarl==1.8.2 ; python_full_version >= "3.9.13" and python_full_version < "4.0.0"
zc-lockfile==3.0.post1 ; python_full_version >= "3.9.13" and python_full_version < "4.0.0"
